<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>TV Shows</title>
</head>
<body>
<div class="wrapper"> 
    <h1>All Shows</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for show in shows %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{show.title}}</td>
                <td>{{show.network}}</td>
                <td>{{show.release_date|date:"SHORT_DATE_FORMAT"}}</td>
                <td>
                    <a href="/shows/{{show.id}}">Show </a> |
                    <a href="/shows/{{show.id}}/edit">Edit </a> |
                    <a href="/shows/{{show.id}}/delete">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/shows/new">Add a New Show</a>  
</div>
</body>
</html>